# Build outputs
.gradle/
build/
**/build/

# Local configuration (sdk path, etc)
local.properties

# Android Studio / IntelliJ IDE
*.iml
.gradle/
.idea/
captures/
.externalNativeBuild/
.cxx/

# Generated Android files
*.aab
*.apk
*.ap_
output-metadata.json

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
